@model Web.Models.Doctor.DoctorAddMedicineViewModel
@{
    ViewData["Title"] = "AddMedicine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <style>
        #trHeader th {
/*            position: sticky !important;
            top: 72px !important;*/
            border-bottom: 2px solid;
            background-color: #2A2B36;
            color: white;
        }
        .col-form-label {
            margin-bottom:20px !important;
        }
        .form-div{
            margin-bottom:20px !important;
        }
    </style>
}

@using (Html.BeginForm("AddMedicine", "Doctor", FormMethod.Post))
{
    <div class="card" style="max-width:100%;">
        <div class="card-header">
            <h3>Add Medicine</h3>
        </div>
        <div class="card-body">
            <div class="input-group my-1">
                <label for="medicineName" class="col-sm-2 mt-2 col-form-label" style="font-weight:bold;">Medicine Name</label>
                <div class="form-div col-sm-5">
                    <input type="text" class="form-control" id="medicineName" asp-for="MedicineName" placeholder="Medicine Name" style="width: 97% !important;">
                </div>
                <div class="col-12 mb-0">
                    <span asp-validation-for="MedicineName" class="text-danger mt-1 offset-2 d-inline-block"></span>
                </div>
            </div>
            <div class="text-start">
                <button type="submit" class="btn btn-warning offset-6">Save</button>
            </div>
        </div>
    </div>
}

<form style="margin-top:35px;">
    <div class="card border border-light mt-1" style="max-width:100%;">
        <div class="card-header" style="padding:0.75em 1.25em 0.25em; /*color:white;*/"><h3>Medicines</h3></div>

        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Search..." id="textSearch" />
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <button class="btn btn-warning ml-1" type="button" style="color:white;" id="btnSearch"><i class="bi bi-search mr-2"></i>Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card border-light" style="max-width:100%;">
        <div class="card-body">
            <table id="table" class="table table-bordered table-striped table-hover" style="width:100%">
                <thead>
                    <tr id="trHeader">
                        <th>
                            Medicine Name
                        </th>
                        <th>
                            Options
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</form>

@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/jszip-2.5.0/dt-1.10.21/b-1.6.3/b-colvis-1.6.3/b-html5-1.6.3/datatables.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $('.medicine').addClass("active");
            var result = "@TempData["Result"]";
            if(result != null && result != "") {
                console.log(result);
                if(result == "success") {
                    Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: 'Medicine has been saved',
                        showConfirmButton: true,
                        timer: 2500
                    });
                }
                else{
                    Swal.fire({
                        position: 'top-center',
                        icon: 'error',
                        title: 'Error',
                        text: 'Something went wrong!',
                        timer: 2500
                    });
                }
            }


            var dataTable = $('#table').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: "@Url.Action("MedicineHandler")",
                    type: "POST",
                    data: function (d) {
                        d.TextSearch = $("#textSearch").val();
                    }
                },
                dom: " <'row'<'col-xl-12'l>>" + "<'row'<'col-xl-12'tr>>" + "<'row'<'col-xl-7'i><'col-xl-5'p>>",
                pageLength: 50,
                lengthMenu: [[5, 10, 50, 100], ['5', '10', '50', '100']],
                order: [
                    [0, 'desc']
                ],
                columns: [
                    {
                        data: "medicineName"
                    },
                    {
                        data: "medicineId",
                        render: function (data, _, row) {
                            return '<a href="#" data-id="' + data + '" class="btn btn-sm btn-warning m-1">Edit</a>' + '<a href="#" data-id="' + data + '" class="btn btn-sm btn-danger m-1">Delete</a>';
                        }
                    },

                ]
            });

            $("#btnSearch").click(function () {
                dataTable.draw();
            });
        });

    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}