@model Web.Models.Doctor.DoctorPasswordChangeViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <style>
        .bx-low-vision{
            cursor: pointer;
        }

        .col-form-label {
            margin-bottom:20px !important;
        }

        .form-control{
            margin-bottom:20px !important;
        }
    </style>
}
@using (Html.BeginForm("ChangePassword", "Doctor", FormMethod.Post))
{
    <div class="card" style="max-width:100%;">
        <div class="card-header">
            <h3>Change Password</h3>
        </div>
        <div class="card-body">
            <div class="input-group my-3">
                <label for="oldPassword" class="col-sm-3 col-form-label font-weight-bold">Old Password</label>
                <input type="password" class="form-control text-input1" id="oldPassword" asp-for="OldPassword" placeholder="Old Password">
                <i class='my-2 mx-2 col-5 bx bx-low-vision p1'></i>
                <div class="col-12 mb-0">
                    <span asp-validation-for="OldPassword" class="text-danger mt-1 offset-3 d-inline-block"></span>
                </div>
            </div>
            <div class="input-group my-3">
                <label for="newPassword" class="col-sm-3 col-form-label font-weight-bold">New Password</label>
                <input type="password" class="form-control text-input2" id="newPassword" asp-for="NewPassword" placeholder="New Password">
                <i class='my-2 mx-2 col-5 bx bx-low-vision p2'></i>
                <div class="col-12 mb-0">
                    <span asp-validation-for="NewPassword" class="text-danger mt-1 offset-3 d-inline-block"></span>
                </div>
            </div>
            <div class="input-group my-3">
                <label for="newPasswordRepeat" class="col-sm-3 col-form-label font-weight-bold">New Password Repeat</label>
                <input type="password" class="form-control text-input3" id="newPasswordRepeat" asp-for="NewPasswordRepeat" placeholder="New Password Repeat">
                <i class='my-2 mx-2 col-5 bx bx-low-vision p3'></i>
                <div class="col-12 mb-0">
                    <span asp-validation-for="NewPasswordRepeat" class="text-danger mt-1 offset-3 d-inline-block"></span>
                </div>
            </div>
            <div class="text-start">
                <button type="submit" class="btn btn-warning">Save Changes</button>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.p1').click(function () {
               if ($('.text-input1').attr("type") === 'password') {
                    $('.text-input1').attr('type', 'text');
               }
               else{
                    $('.text-input1').attr('type', 'password');
               }
            });
            $('.p2').click(function () {
                if ($('.text-input2').attr("type") === 'password') {
                    $('.text-input2').attr('type', 'text');
                }
                else {
                    $('.text-input2').attr('type', 'password');
                }
            });
            $('.p3').click(function () {
                if ($('.text-input3').attr("type") === 'password') {
                    $('.text-input3').attr('type', 'text');
                }
                else {
                    $('.text-input3').attr('type', 'password');
                }
            });
        });
    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

