@model Web.Models.Doctor.MedsPatsCountViewModel

<div class="row">
    <div class="col-12">
        <div class="box card-box">
            <div class="icon-box bg-color-1">
                <div class="icon bg-icon-1">
                    <i class="bx bxs-bell bx-tada bx-tada"></i>
                </div>
                <div class="content">
                    <h5 class="title-box">Total Medicines: @Model.Medicines</h5>
                    <p class="color-1 mb-0 pt-4"></p>
                </div>
            </div>
            <div class="icon-box bg-color-2">
                <div class="icon bg-icon-2">
                    <i class="bx bxs-bell bx-tada bx-tada"></i>
                </div>
                <div class="content">
                    <h5 class="title-box">Total Patients: @Model.Patients</h5>
                    <p class="color-2 mb-0 pt-4"></p>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        $('.menu').removeClass("active");
        $('.home').addClass("active");
    </script>
}